.git
.gitignore

node_modules
npm-debug.log
yarn.lock
package-lock.json

composer.phar

/storage/*
/bootstrap/cache/*
/vendor/*
/node_modules/*
/public/storage

.env
.env.local
.env.testing
.env.example

.vscode
.idea
*.sublime-workspace
*.sublime-project

.dockerignore
Dockerfile
*.log
*.md

/tests
/phpunit.xml
/phpunit.xml.dist
